<h2>Детали</h2>

<hr/>
<div *ngIf="person">
  <div>
    <label><b>Фамилия: </b></label> {{person.lastName}}
  </div>
  <div>
    <label><b>Имя: </b></label> {{person.firstName}}
  </div>
  <div>
    <label><b>Отчество: </b></label> {{person.midName}}
  </div>
  <div>
    <p *ngIf="person.gender;else unset">
    <label><b>Пол: </b></label> Мужской
    </p>
    <ng-template #unset>
      <label><b>Пол: </b></label> Женский
    </ng-template>
  </div>

<!--
  <div >
    <label><b>Пол: </b></label> {{person.gender}}
  </div>
-->
  <div>
    <label><b>Дата рождения: </b></label> {{person.birthday | date: "dd.MM.yyyy"}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Назад к списку</button><br>
